@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.tag {
    display: inline-block;
    background-color: #1282a2;
    color: #fff;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border-radius: 0.25em;
  }
  
  .remove-tag-btn {
    background: none;
    border: none;
    color: #fff;
    margin-left: 0.5em;
    cursor: pointer;
  }
  
  .input-with-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5em;
    border: 1px solid #001F54;
    border-radius: 0.25em;
  }
  
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
  }
  
  .select-tag {
    border: none;
    outline: none;
    background: transparent;
    color: #001F54;
    font-family: 'royal4', sans-serif;
    font-size: 1rem;
    font-weight: bold;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* HeroCards background shadow */
  .shadow {
    position: absolute;
    background: hsl(var(--primary) / 0%);
    border-radius: 24px;
    rotate: 35deg;
  
    width: 260px;
    top: 200px;
    height: 400px;
    filter: blur(150px);
    animation: shadow-slide infinite 4s linear alternate;
  }
  
  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 80%);
      right: 160px;
    }
  }
  
  @media (max-width: 1024px) {
    .shadow {
      top: 70px;
    }
  
    @keyframes shadow-slide {
      from {
        background: hsl(var(--primary) / 20%);
        right: 460px;
      }
      to {
        background: hsl(var(--primary) / 50%);
        right: 160px;
      }
    }
  }
  
  @media (max-width: 768px) {
    .shadow {
      top: 70px;
      width: 100px;
      height: 350px;
      filter: blur(60px);
    }
  
    @keyframes shadow-slide {
      from {
        background: hsl(var(--primary) / 20%);
        right: 280px;
      }
      to {
        background: hsl(var(--primary) / 30%);
        right: 100px;
      }
    }
  }